---
---

@import "{{ site.theme }}";

/* remover footer completamente */
footer,
.site-footer {
  display: none !important;
}

.page-header {
  background-color: #243b55 !important;
  background-image: none !important;
}
