---
---

@import "{{ site.theme }}";

/* remover footer completamente */
footer,
.site-footer {
  display: none !important;
}

.page-header {
  background: linear-gradient(135deg, #1f3a5f, #0f2027);
  background-image: none !important;
}
